@{
	ViewData["Title"] = "Garden Center";	
}
<div>
	<h1 class="text-center text-success">Welcome to the Garden Center</h1>
	<p class="text-center">Explore our wide range of plants, tools, gardening supplies, and knowledge to help you create your perfect garden.</p>
</div>

